doctype html
html(lang='en' class='h-100')
  head
    title= 'Ang Zhan Yu (A0156084A) CS5224 Solutions for IBM CloudFoundry'
    script.
      window._fs_debug=!1,window._fs_host="fullstory.com",window._fs_script="edge.fullstory.com/s/fs.js",window._fs_org="BCEC0",window._fs_namespace="FS",function(n,e,o,t,s,c,i,f){o in n?n.console&&n.console.log&&n.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'):((i=n[o]=function(n,e,o){i.q?i.q.push([n,e,o]):i._api(n,e,o)}).q=[],(c=e.createElement(t)).async=1,c.crossOrigin="anonymous",c.src="https://"+_fs_script,(f=e.getElementsByTagName(t)[0]).parentNode.insertBefore(c,f),i.identify=function(n,e,o){i(s,{uid:n},o),e&&i(s,e,o)},i.setUserVars=function(n,e){i(s,n,e)},i.event=function(n,e,o){i("event",{n:n,p:e},o)},i.shutdown=function(){i("rec",!1)},i.restart=function(){i("rec",!0)},i.log=function(n,e){i("log",[n,e])},i.consent=function(n){i("consent",!arguments.length||n)},i.identifyAccount=function(n,e){c="account",(e=e||{}).acctId=n,i(c,e)},i.clearUserCookie=function(){},i._w={},f="XMLHttpRequest",i._w[f]=n[f],f="fetch",i._w[f]=n[f],n[f]&&(n[f]=function(){return i._w[f].apply(this,arguments)}))}(window,document,window._fs_namespace,"script","user");
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  body(class='d-flex flex-column h-100')
    header
      nav(class='navbar bg-dark')
        a(class='navbar-brand' href='./') Ang Zhan Yu (A0156084A) CS5224 Solutions
    main(role='main' class='flex-shrink-0')
      block content
    footer(class='footer mt-auto py-3')
      div(class='container')
        span(class='text-muted')
          a(href='https://github.com/ZY-Ang/cs5224/tree/master/ibmcloudfoundryapp' rel='noopener noreferrer' target='_blank') Source Code
